<div class="summary-card">
  <div class="balances">
    <div class="balance-item">
      <p class="label"><i class="fas fa-wallet"></i> Balance Total</p>
      <span class="amount">${{ balance() | number:'1.2-2' }}</span>
    </div>
    <div class="balance-item">
      <p class="label"><i class="fas fa-chart-line"></i> Gastos Totales</p>
      <span class="amount">-${{ totalExpenses() | number:'1.2-2' }}</span>
    </div>
  </div>
  <div class="progress-section">
    <div class="progress-bar">
      <div class="progress-bar">
        <div class="progress" [style.width]="progressWidth + '%'" [ngClass]="progressColorClass"></div>
      </div>
      <p>Has Usado {{ budgetUsage | number:'1.0-0' }}% De Tu Presupuesto.</p>
    </div>
  </div>