<nav class="navbar">
  <a class="nav-item active" routerLink="/">
    <i class="fas fa-home icon"></i>
    <span>Inicio</span>
  </a>
  <a class="nav-item" routerLink="/analisis">
    <i class="fas fa-search icon"></i>
    <span>Análisis</span>
  </a>
  <a class="nav-item add-button" routerLink="/add">
    <i class="fas fa-plus icon"></i>
  </a>
  <a class="nav-item" routerLink="/categorias">
    <i class="fas fa-list-ul icon"></i>
    <span>Categorías</span>
  </a>
  <a class="nav-item" routerLink="/perfil">
    <i class="fas fa-user-circle icon"></i>
    <span>Perfil</span>
  </a>
</nav>